# eSIM Access
ESIM_ACCESS_CODE=
ESIM_SECRET_KEY=
ESIM_API_BASE=https://api.esimaccess.com/api/v1/open

# Stripe
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=

# DB
DATABASE_URL=postgresql://user:password@localhost:5432/voyage?schema=public

# Redis
REDIS_URL=redis://localhost:6379

# App
WEBHOOK_URL=http://localhost:3000/api/webhooks/esim
APP_URL=http://localhost:3000

