-- DropForeignKey
ALTER TABLE "AffiliatePayoutMethod" DROP CONSTRAINT "AffiliatePayoutMethod_affiliateId_fkey";

-- DropForeignKey
ALTER TABLE "AffiliatePayoutRequest" DROP CONSTRAINT "AffiliatePayoutRequest_affiliateId_fkey";

-- DropIndex
DROP INDEX "Order_userId_idx";

-- DropIndex
DROP INDEX "Order_status_idx";

-- DropIndex
DROP INDEX "Order_createdAt_idx";

-- DropIndex
DROP INDEX "Order_paymentRef_idx";

-- DropIndex
DROP INDEX "EsimProfile_userId_idx";

-- DropIndex
DROP INDEX "EsimProfile_orderId_idx";

-- DropIndex
DROP INDEX "Commission_status_idx";

-- DropIndex
DROP INDEX "Commission_affiliateId_status_idx";

-- AlterTable
ALTER TABLE "Affiliate" DROP COLUMN "isFrozen";

-- AlterTable
ALTER TABLE "Commission" DROP COLUMN "availableAt",
DROP COLUMN "status";

-- DropTable
DROP TABLE "DeviceSupport";

-- DropTable
DROP TABLE "AffiliatePayoutMethod";

-- DropTable
DROP TABLE "AffiliatePayoutRequest";

